In [1]:
import pandas as pd

import requests
import json
from pandas.io.json import json_normalize

In [12]:
def get_rows(str_query=None):
    response = requests.post("http://ec2-3-133-150-215.us-east-2.compute.amazonaws.com:8020/raw_query", json={"raw_query":str_query})
    return response.json()

test_json = get_rows("select ap.p6040 as \"Edad\", round(sum(fex_c_2011)) as \"Cantidad de personas\" from area_personas ap where mes=3 group by ap.p6040")

#print(test_json)

#print(json_normalize(test_json))
pd.DataFrame.from_dict(test_json['data']['table']).set_index('Edad')
#test_json['data']['table']

      Cantidad de personas
Edad
0                 278152.0
1                 305894.0
2                 322417.0
3                 343331.0
4                 328396.0
...                    ...
100                  395.0
101                  130.0
102                  170.0
103                  621.0
107                  391.0

[105 rows x 1 columns]