In [7]:
from sqlalchemy import create_engine
import pandas as pd
db_user='postgres'
db_user_password='fKQo6ZpKlZkIepz5TFNg'
db_host='final-project-30.c5cj5hvdksjw.us-east-2.rds.amazonaws.com'
db_name='postgres'
engine = create_engine('postgresql://'+db_user+':'+db_user_password+'@'+db_host+'/'+db_name)
dep = pd.read_sql("select * from departments limit 10;", engine.connect())

In [8]:
dep

  divipol_department department_name
0                 05       ANTIOQUIA
1                 08       ATLÁNTICO
2                 11    BOGOTÁ, D.C.
3                 13         BOLÍVAR
4                 15          BOYACÁ
5                 17          CALDAS
6                 18         CAQUETÁ
7                 19           CAUCA
8                 20           CESAR
9                 23         CÓRDOBA