In [6]:
# pip install pymongo
import pandas as pd
import numpy as np
def get_db():
    from pymongo import MongoClient
    client = MongoClient(
        host="localhost",
        maxPoolSize=50,
        unicode_decode_error_handler='ignore')
    db = client.secop
    return db

In [22]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8') 
def get_amountTotal(collection):
    pipeline = [
       { "$group": { "_id":"null", "amountTotal": { "$sum": "$Release.planning.budget.amount.amount"} } }
    ]
    response = list(collection.aggregate(pipeline))
    return locale.currency(response[0]['amountTotal'], grouping=True)

In [23]:
get_amountTotal(get_db().SECOP2)

'$1,417,107,607,935,814.00'

In [7]:
cur=get_db().SECOP2.count_documents( {"Release.buyer.id":"900477169"} )

In [8]:
print(cur)

974

In [17]:
df = pd.DataFrame(dict(TD=[cur]))
td2011=get_db().SI2011.estimated_document_count( )
td2012=get_db().SI2012.estimated_document_count( )
td2013=get_db().SI2013.estimated_document_count( )
td2014=get_db().SI2014.estimated_document_count( )
td2015=get_db().SI2015.estimated_document_count( )
td2016=get_db().SI2016.estimated_document_count( )
td2017=get_db().SI2017.estimated_document_count( )
td2018=get_db().SI2018.estimated_document_count( )
td2019=get_db().SI2019.estimated_document_count( )
tdsecop2=get_db().SECOP2.estimated_document_count( )

In [24]:

dataf = pd.DataFrame(dict(Name=['2011','2012','2013','2014','2015','2016','2017','2018','2019','SECOP2'],
                          TotalDocuments=[td2011,td2012,td2013,td2014,td2015,td2016,td2017,td2018,td2019,tdsecop2],
                          TotalAmount=[get_amountTotal(get_db().SI2011),get_amountTotal(get_db().SI2012),get_amountTotal(get_db().SI2013),get_amountTotal(get_db().SI2014),get_amountTotal(get_db().SI2015),get_amountTotal(get_db().SI2016),get_amountTotal(get_db().SI2017),get_amountTotal(get_db().SI2018),get_amountTotal(get_db().SI2019),get_amountTotal(get_db().SECOP2)])
                    )
dataf

     Name  TotalDocuments                TotalAmount
0    2011          258093          $5,294,868,762.00
1    2012          456742      $1,991,249,988,324.00
2    2013          644937  $2,390,125,065,387,079.00
3    2014          827527  $2,160,560,482,790,185.00
4    2015         1030160  $2,497,242,652,271,189.00
5    2016         1152345  $1,374,348,421,994,232.00
6    2017         1264550  $3,235,111,461,889,581.00
7    2018           16120      $5,907,315,756,957.00
8    2019          169537     $32,082,354,486,245.00
9  SECOP2          243840  $1,417,107,607,935,814.00